<!DOCTYPE html>
<html class="h-full bg-white">

<head>
    <title>Aggiunta scheda</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-auto w-auto"
                src="./static/img/dumbell.jpg" alt="Your Company">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Aggiungi</h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form action="/add_scheda" method="POST" class="space-y-6">
               
                <div>
                    <label for="nome_esercizio" class="block text-sm font-medium leading-6 text-gray-900">Nome Esercizio:</label>
                    <input type="text" id="nome_esercizio" name="nome_esercizio"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div>
                    <label for="numero_ripetizioni" class="block text-sm font-medium leading-6 text-gray-900">Numero Ripetizioni:</label>
                    <input type="text" id="numero_ripetizioni" name="numero_ripetizioni"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <!-- Campi per la tabella Ripetizioni_serie -->
                <div>
                    <label for="n_ripetizioni" class="block text-sm font-medium leading-6 text-gray-900">Numero Ripetizioni:</label>
                    <input type="text" id="n_ripetizioni" name="n_ripetizioni"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div>
                    <label for="tempo_fase_concentrica" class="block text-sm font-medium leading-6 text-gray-900">Tempo Fase Concentrica:</label>
                    <input type="text" id="tempo_fase_concentrica" name="tempo_fase_concentrica"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div>
                    <label for="tempo_fase_eccentrica" class="block text-sm font-medium leading-6 text-gray-900">Tempo Fase Eccentrica:</label>
                    <input type="text" id="tempo_fase_eccentrica" name="tempo_fase_eccentrica"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <!-- Aggiungi altri campi per gli altri dati delle tabelle -->

                <div>
                    <button type="submit"
                        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Aggiungi</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
