<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizza Allenamenti</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-6">
        <h1 class="text-3xl font-bold mb-6">I tuoi allenamenti</h1>
        {% if allenamenti_dettagliati %}
            {% for dettagli in allenamenti_dettagliati %}
                <div class="bg-white shadow-md rounded-lg p-6 mb-6">
                    <h2 class="text-2xl font-semibold mb-4">Allenamento</h2>
                    <p class="mb-2"><strong>Obiettivo:</strong> {{ dettagli.allenamento[2] }}</p>
                    <p class="mb-4"><strong>Numero di Schede:</strong> {{ dettagli.allenamento[3] }}</p>

                    {% for scheda in dettagli.schede %}
                        <div class="bg-gray-50 p-4 rounded-lg mb-4">
                            <h3 class="text-xl font-medium mb-2">Scheda</h3>
                            <p class="mb-2"><strong>Tipo:</strong> {{ scheda.scheda[1] }}</p>

                            {% for esercizio in scheda.esercizi %}
                                <div class="bg-gray-100 p-2 rounded-lg mb-2">
                                    <h4 class="text-lg font-medium mb-1">Esercizio</h4>
                                    <p class="mb-1"><strong>Nome:</strong> {{ esercizio[1] }}</p>
                                    <p class="mb-1"><strong>Numero di Serie:</strong> {{ esercizio[3] }}</p>
                                    <p class="mb-1"><strong>Numero di Ripetizioni:</strong> {{ esercizio[4] }}</p>
                                    <p class="mb-1"><strong>Tempo Fase Concentrica:</strong> {{ esercizio[5] }} sec</p>
                                    <p class="mb-1"><strong>Tempo Fase Eccentrica:</strong> {{ esercizio[6] }} sec</p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <p>Non ci sono allenamenti da mostrare.</p>
        {% endif %}
    </div>
</body>
</html>
