<!DOCTYPE html>
<html>
<head>
    <title>Registrazione</title>
</head>
<body>
    <h1>Registrazione</h1>
    <form action="/register" method="post">
        <label for="ID_account">ID Account:</label>
        <input type="text" id="ID_account" name="ID_account"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <label for="ID_utente">ID Utente:</label>
        <input type="text" id="ID_utente" name="ID_utente"><br>
        <label for="nomeutente">Nome Utente:</label>
        <input type="text" id="nomeutente" name="nomeutente"><br>
        <input type="submit" value="Registrati">
    </form>
</body>
</html>
